<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contibution form</title>
</head>
<body>
<form action="{% url 'create order' %}" method="post">
    {% csrf_token %}
    <input name="project_id" type="hidden" value="{{project_id}}">
    <select name="currency" id="currency">
        <option value="INR">INR</option>
        <option value="USD">USD</option>
    </select>
    <input type="number" name="amount" placeholder="Amount">
    <input type="submit" value="Checkout">
</form>
</body>
</html>